.header-1{
    height: 34vw;
    margin: 30px auto;
    background: url("https://www.cnet.com/a/img/resize/69256d2623afcbaa911f08edc45fb2d3f6a8e172/hub/2023/02/03/afedd3ee-671d-4189-bf39-4f312248fb27/gettyimages-1042132904.jpg?auto=webp&fit=crop&height=675&width=1200") no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 53%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 5s;
}

.header-contents h2{
    font-weight: 500;
    color: #fffffff8;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    font-size: 1vw;
    color: white;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    cursor: pointer;
    font-size: max(1vw,13px);
    border-radius: 50px;
    border: none;
}

@media(max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 90%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw,4vw;
    }
}

@media(max-width:480px){
    .header-1{
        height:74vw;
       margin: 0 ;
       padding: 0;
    }
    .header-contents{
        height: 100%;
        max-width: 90%;
        gap:6px;
        align-items: start;
        justify-content: center;
    }
    .header-contents h2{
    
     font-size: 40px;
    }
}

