.food-display{
    margin-top: 30px;

}

.food-display h1{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(350px, 4fr));
    gap: 30px;
    row-gap: 50px;
    margin-top: 30px;
    overflow: hidden;
}

.no-results {
    text-align: center;
    padding: 60px 20px;
  }
  
  .no-results h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #555;
  }
  
  .no-results p {
    color: #777;
    font-size: 1.1rem;
  }
 
.loader {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
  }

@media(max-width:480px){
    .food-display h1{
        text-align: center;
        font-size: max(3vw,30px);

    }
    .food-display-list{
        padding: 6px;
        
    }
}